
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}
#navigation {
    background-color: #fff;
    line-height: 100px;
    vertical-align: central;
    color: #104566;
    right: 80px;
    top: calc(100% - 100px);
    height: 100px;
    z-index: 5;
    position: absolute;
    left: 0;
    width: 100vw;
}
#navigation.top {
    position: fixed;
    top: 0;
    z-index: 20;
}
#navigation img {
    position: absolute;
    left: 30px;
}
#navigation img.barcode {
    width: 182px;
    position: absolute;
    left: 28px;
    margin-top: -178px;
    z-index: 10;
}
#page,
#startimage {
    width: 100vw;
    min-height: 100vh;
}
#navigation #menu {
    float: right;
    margin-right: 30px;
}
#navigation #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#navigation a {
    outline: 0;
    text-decoration: none;
    border: 0;
}
#navigation #menu ul li {
    float: left;
}
#navigation #menu ul li a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #104566;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400;
}
#startimage {
    height: 100vh;
    background-color: #ff00ff;
    z-index: 0;
    position: fixed;
    background-image: url('../images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#page {
    position: absolute;
    top: 100vh;
    z-index: 10;
    background-color: #f8f8f8;
}
#page .content {
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #999;
}
#page .content.white {
    background-image: linear-gradient(to top, #fff 80%, #efefef 100%);
    border-top: 1px solid #ccc;
}
#page .content.lightgray {
    background-color: #efefef;
    border-top: 1px solid #ccc;
}
#page .content a {
    text-decoration: none;
    color: #933;
    transition: ease 1s;
}
#page .content a[href$="#"]:hover,
#page .content a[href^="http"]:hover {
    color: #104566;
    text-decoration: underline;
}
#page .content.contentheight,
#page .content.foot {
    min-height: 0;
    text-align: center;
    color: #333;
    width: calc(100% - 40px);
    padding: 20px;
}
#page .content.foot {
    margin: 0;
    background-color: #708090;
    font-size: 70%;
    display: inline-flex;
    justify-content: center;
}
#page .content.contentheight {
    background-color: #add8e6;
}
#page .content.grey {
    background-color: #d3d3d3;
}
#page .content.foot .footerinfo {
    flex-direction: row;
    min-width: 48vw;
    text-align: left;
}
#page .content.foot a {
    color: #efefef;
    text-decoration: none;
    transition: ease 1s;
}
#page .content.foot a:hover {
    color: #ccc;
}
#page .content h1 {
    color: #933;
    font-weight: 700;
}
#imprint {
    display: none;
}
#page .content p.description {
    color: #ccc;
    font-weight: 300;
    font-size: 70%;
}
#page .content p.dark {
    color: #333;
}
#page .content p.center {
    text-align: center;
}
#page .content p.nospace {
    margin-top: -2em;
}
#page .content h2 {
    color: #333;
    font-weight: 700;
}
#page .content .fullpic {
    max-width: 100vw;
    width: 100vw;
    height: 43vh;
    overflow: hidden;
    margin: -20px 0 0 -20px;
    background-size: cover;
    background-position: center center;
}
#page .content .fullpic .textwrapper {
    margin-top: 20vh;
}
#page .content .fullpic h1,
#page .content .fullpic h2 {
    color: #fff;
    font-weight: 400;
    text-align: left;
    margin-left: 5%;
}
.textblockswrapper {
    margin: 30px auto;
    display: inline-flex;
    width: 80vw;
}
.textblockswrapper .textblock {
    flex-flow: row nowrap;
    justify-content: center;
    width: 30vw;
    font-size: 80%;
    text-align: center;
    padding: 0 20px;
}
.textblockswrapper .textblock.justify {
    text-align: justify;
}
#page .content .textblockswrapper .textblock h1 {
    color: #104566;
    font-size: 120%;
    text-transform: uppercase;
}
.flexwrapper {
    display: inline-flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}
#page .content .flexwrapper .pricebox {
    flex-direction: row;
    width: 30vw;
    text-align: left;
}
.gradient-box,
.gradient-head {
    width: 25vw;
    background: #fff;
    padding: 0 20px;
}
#page .content .flexwrapper .pricebox h1 {
    color: #ccc;
    font-size: 80%;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
#page .content .flexwrapper .pricebox h2 {
    color: #666;
    font-size: 80%;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    text-transform: uppercase;
}
.gradient-head {
    margin: auto;
    height: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.gradient-box {
    margin: auto;
    min-height: 100px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(#ccc, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #ccc, rgba(0, 0, 0, 0)) 1 100%;
    color: #333;
}
#page .content .flexwrapper .pricebox .smallpricefield {
    min-width: 42%;
    background-color: #104566;
    color: #fff;
    flex-direction: row;
}
#page .content .flexwrapper .pricebox .largepricefield {
    min-width: 100%;
    background-color: #104566;
    color: #fff;
    flex-direction: row;
}
#page .content .flexwrapper .pricebox .plusfield {
    background-color: green;
    height: 0;
    line-height: 0;
    font-size: 250%;
    color: #ccc;
    margin: auto;
}
#page .content .flexwrapper .pricebox .largepricefield h1,
#page .content .flexwrapper .pricebox .smallpricefield h1 {
    font-size: 200%;
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: none;
}
#page .content .flexwrapper .pricebox .largepricefield h2,
#page .content .flexwrapper .pricebox .smallpricefield h2 {
    color: #ccc;
    font-weight: 300;
    margin-top: 0;
    font-size: 80%;
    width: 100%;
    text-align: center;
    display: block;
    text-transform: none;
}
input,
textarea {
    width: 40vw;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 110%;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    color: #333;
    transition: 0.5s ease;
    outline: 0;
    text-align: center;
}
input:focus,
textarea:focus {
    background-color: #e0ffff;
}
input[type="submit"] {
    width: 20vw;
    background-color: #104566;
    border: none;
    color: #fff;
    padding: 15px;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 300;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: rgba(16, 69, 102, 0.5);
    cursor: pointer;
}
input[type="submit"].clicked {
    background-image: url(/web/20190203065411im_/https://eticks.de/public/images/loader.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: transparent;
}
#page .content ul {
    color: #ccc;
    font-weight: 300;
    font-size: 80%;
    padding-left: 20px;
}
#page .content li.highlight {
    color: #666;
}
#grayblock .shopscreeny {
    position: absolute;
    top: -100px;
    right: 0;
    width: 650px;
}
#redblock .shopscreeny {
    position: absolute;
    top: -100px;
    left: 0;
    width: 550px;
}
#page .content #grayblock {
    position: relative;
    margin: 150px 0 250px -20px;
    width: calc(100vw - 30px);
    height: 250px;
    background: #4b6cb7;
    background: -webkit-linear-gradient(right, #4b6cb7, #182848);
    background: -o-linear-gradient(right, #4b6cb7, #182848);
    background: linear-gradient(to left, #4b6cb7, #182848);
    text-align: left;
    padding: 10px 0 0 30px;
}
#page .content #redblock {
    position: relative;
    margin: 150px 0 150px -20px;
    width: calc(100vw - 580px);
    height: 250px;
    background: #4b6cb7;
    background: -webkit-linear-gradient(right, #933, #fb7c7c);
    background: -o-linear-gradient(right, #933, #fb7c7c);
    background: linear-gradient(to left, #933, #fb7c7c);
    text-align: left;
    padding: 10px 0 0 580px;
}
#page .content #grayblock .textwrapper,
#page .content #redblock .textwrapper {
    height: 100%;
    overflow: auto;
}
#page .content #grayblock h1,
#page .content #redblock h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
}
#page .content #grayblock p,
#page .content #redblock p {
    color: #fff;
    width: calc(100vw - 700px);
    font-weight: 300;
}
#page .content #grayblock ul,
#page .content #redblock ul {
    margin: 0;
    width: calc(100vw - 700px);
    color: #fff;
}
.em {
    color: #104566;
}
.scrollbox {
    margin: 10px auto;
    width: 80vw;
    max-height: 25vh;
    overflow: scroll;
}
#form_error {
    background-color: #fff;
    width: 40vw;
    padding: 5px;
    margin: 0 auto;
    display: none;
}
#form_error.ok {
    color: #228b22;
    border: 1px solid #228b22;
    background-color: #bdf7bd;
}
#form_error.error {
    color: #8b0000;
    border: 1px solid #8b0000;
    background-color: #f7a3a4;
}
@media only screen and (max-width: 1000px) {
    .content .flexwrapper {
        flex-direction: column;
        align-items: center;
    }
    .content .flexwrapper .pricebox {
        min-width: 70vw;
        margin: 0 0 50px -50px;
    }
    .content .flexwrapper .pricebox .flexwrapper {
        flex-direction: row;
    }
    .gradient-box,
    .gradient-head {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    #page .content #grayblock {
        height: auto;
        margin: 10px 0 30px -20px;
    }
    #page .content #redblock {
        height: auto;
        width: calc(100vw - 10px);
        padding: 10px 0 0 10px;
        margin-top: 10px;
    }
    #page .content #grayblock .textwrapper,
    #page .content #redblock .textwrapper {
        display: block;
        width: 90vw;
        padding: 0;
        margin: 0;
    }
    #page .content #grayblock p,
    #page .content #grayblock ul,
    #page .content #redblock p,
    #page .content #redblock ul {
        display: block;
        min-width: 100%;
        margin: 0 0 10px;
        padding: 0xp;
    }
    #grayblock .shopscreeny,
    #redblock .shopscreeny {
        position: relative;
        display: block;
        padding: 0;
        top: 0;
    }
    #grayblock .shopscreeny {
        width: 100%;
        margin: 0;
        right: 0;
    }
    #redblock .shopscreeny {
        width: 90%;
        margin: 0 0 0 -10px;
        left: 0;
        max-width: 550px;
    }
}
@media only screen and (max-width: 700px) {
    .textwrapper h1 {
        font-size: 140%;
    }
    .textwrapper h2 {
        font-size: 120%;
    }
    h1,
    h2 {
        line-height: 1.5em;
    }
    #navigation img,
    #navigation img.barcode {
        width: 100px;
    }
    #navigation img.barcode {
        margin-top: -98px;
        left: 29px;
    }
    .textblockswrapper {
        flex-direction: column;
        align-items: center;
    }
    .textblock {
        min-width: 70%;
    }
    input,
    input[type="submit"],
    textarea {
        width: 80vw;
    }
    #navigation #menu {
        font-size: 80%;
        float: inherit;
        display: block;
        margin: 20px 0 0;
        width: 100%;
        text-align: center;
    }
    #navigation #menu ul {
        display: flex;
        justify-content: center;
    }
    #navigation #menu ul li a {
        padding: 0;
        margin: 0 5px;
        display: inline;
        text-align: center;
    }
}
